/saves
/screenshots
/*.zip
*.PIXRun
startmis.sav
temp.mis
temp.gam
query_results.txt
/fam/**/*.pcx

# Automerge intermediate output.
/_*.mis
/automerge_monolog.txt

# Prevent Dark Object Viewer from crashing/being slow when browsing
# this folder; ensure it finds this .png *before* it finds any .mis!
/aaaa.png
